[MASTER]
ignore=setup.py,conf.py

[MESSAGES CONTROL]
disable=
    expression-not-assigned,
    no-name-in-module,
    import-error,
    too-few-public-methods,
    arguments-differ,
    unused-argument,
    no-value-for-parameter,
    wrong-import-order,
    ungrouped-imports